._DS_Store
.DS_Store
._*
__pycache__
*.dom_pdb
*.pdb2
*.domains
*.tsv
*.idx
*~
*metadata.json
merizo_search/programs/Foldclass/pdb2emb.py
.vscode/
merizo_search.code-workspace
merizo_search/.vscode/
tmp*